{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans mon dashboardtest !!</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
Fuga, ipsa? Quae autem mollitia numquam aut, sequi incidunt 
iusto perspiciatis odit nisi cupiditate amet magni? Delectus 
tempora vero nemo minima asperiores expedita hic. Libero cumque, 
amet earum animi nulla assumenda a!</p>
<p>Illo, aut. Fugiat eveniet ipsam eos praesentium deserunt, 
magnam numquam et id sapiente velit ducimus minima nulla nostrum 
sequi rerum molestias tempora ad sed fugit facilis eum mollitia 
itaque? Ullam placeat qui aspernatur aut eveniet, sed dolore aliquam 
blanditiis ipsum?</p>

{% endblock %}