{% extends 'base.html.twig' %}



{% block body %}

	<h1>Gestion d'un article</h1>

    {{ form_start(formArticle) }}

    {{ form_row(formArticle.confirmation) }}

        <button type="submit" class="btn btn-success">
            supprimer
        </button> 

    {{ form_end(formArticle) }}

{% endblock %}
